*{
    margin:0px;
}
.container{
    margin: 0 auto;
    border: 1px black solid;
    width:50%;
    height:100vh;
    display:flex;
    flex-direction: column;
}
.column-container{
    flex: 1;
    border: 1px solid red;
}

.column-header{
    margin: 0 auto;
    height:20vh;
    width:50%;
    display: flex;
    border: 1px solid blue;
    flex-direction: column;
    gap: 10px;
    
   
    
}
.header{
    flex: 1;
    border: 1px solid red;
   
}