*{
    margin:0px;
}
.container{
    margin: 0 auto;
    border: 1px black solid;
    width:50%;
    height:100vh;
    display:flex;
    flex-direction: column;
}
.column-container{
    flex: 1;
    border: 1px solid red;
}