*{
    margin:0px;
}
.container{
    margin: 0 auto;
    border: 1px black solid;
    width:50%;
    height:100vh;
    display:flex;
    flex-direction: column;
}
.column-container{
    flex: 1;
    border: 1px solid red;
}

.column-header{
    margin: 0 auto;
    height:20vh;
    width:50%;
    display: flex;
    border: 1px solid blue;
    flex-direction: column;
    gap: 10px;
    
   
    
}
.header{

    border: 1px solid red;
    display: flex;
   
}

.header-second{
    height:5vh;
    width:100%;
    display: flex;
    border: 1px solid blue;
    gap: 10px;
    
}
.header-second-column{
    border: 1px solid rgb(0, 255, 64);
}
.header-logo{
  margin-right: auto;
}
.links{
    
    display: flex;
    margin-right: auto;
    gap: 10px;
}

a{
    
    
    text-decoration: none;
}
    